* {
    color: #ececec;
    background: #1a1a1a;
    font-family: "Iosevka", "monospace";
}

window#waybar {
    background: #191919;
    border-radius: 9px;
    border: 1px solid #888;
}

#clock, #cpu, #memory, #network, #battery, #pulseaudio {
    padding: 0 9px;
    border-radius: 3px;
    background: #232323;
    color: #ececec;
    font-family: "Iosevka", "monospace";
    margin: 0 2px;
}	

#battery.critical {
    color: #ff2222;
}

#battery.warning {
    color: #ffaa00;
}

#battery.good {
    color: #00cc99;
}

#clock {
    font-weight: bold;
}

#cpu {
    font-weight: bold;
}

#memory {
    font-style: italic;
}

#network {
    font-style: italic;
}

#battery {
    font-weight: bold;
}

#pulseaudio {
    font-weight: bold;
}

#workspaces {
    background: #232323;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 2px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ececec;
    border: none;
}

#workspaces button.active {
    background: #444;
    border-radius: 3px;
}

#window {
    background: #232323;
    border-radius: 3px;
    padding: 0 9px;
    margin: 0 2px;
}
